
<h1>zeeshan</h1>
<div class="row">
    <div class="col-3">
        <div class="card mb-4">
            <div class="card-body">
                <h4>Available Roles</h4>
                <div class="separator mb-5"></div>

                <ul class="sortable list-unstyled mb-0">
                    <li class="libottom">
                        <a class="textsetings" href="">
                            <i class="simple-icon-arrow-right iconrightpadding"></i>Admin
                        </a>
                    </li>
                    <li class="libottom">
                        <a class="textsetings" href="">
                            <i class="simple-icon-arrow-right iconrightpadding"></i>Finance
                        </a>
                    </li>
                    <li class="libottom">
                        <a class="textsetings" href="">
                            <i class="simple-icon-arrow-right iconrightpadding"></i>Front Desk
                        </a>
                    </li>
                    <li class="libottom">
                        <a class="textsetings" href="">
                            <i class="simple-icon-arrow-right iconrightpadding"></i>Front Desk Supervisor
                        </a>
                    </li>
                    <li class="libottom">
                        <a class="textsetings" href="">
                            <i class="simple-icon-arrow-right iconrightpadding"></i>Insurance Coordinator
                        </a>
                    </li>
                    <li class="libottom">
                        <a class="textsetings" href="">
                            <i class="simple-icon-arrow-right iconrightpadding"></i>Nurse
                        </a>
                    </li>
                    <li class="libottom">
                        <a class="textsetings" href="">
                            <i class="simple-icon-arrow-right iconrightpadding"></i>Physician
                        </a>
                    </li>
                    <li class="libottom">
                        <a class="textsetings" href="">
                            <i class="simple-icon-arrow-right iconrightpadding"></i>TEST
                        </a>
                    </li>
                </ul>

            </div>
        </div>

    </div>
    <div class="col-9">
        <div class="card mb-4">
            <div class="card-body">
                <h4>Role Details</h4>
                <div class="separator mb-5"></div>

                <form>
                    <div class="form-group row">
                        <div class="col-2">
                            <label class="inputlabelclr rolenamepadding" for="RoleName">Role Name</label>
                        </div>
                        <div class="col-10">
                            <input type="text" id="RoleName" aria-describedby="RoleName" class="form-control" placeholder="Role Name">
                        </div>
                        
                      </div>
                </form>

                <div class="row">
                   <!-- col-xs-12 col-sm-6 col-md-3   fOR ui OF CARDS -->
                    <div class="col-4">
                        <div class="card mb-4 backgroundclr">
                            <div class="card-body">
                                <h4>Module Name</h4>
                                <div class="separator mb-5"></div>

                                <ul class="sortable list-unstyled mb-0">
                                    <li class="libottom">
                                        <a class="textsetings" href="">
                                            <i class="simple-icon-arrow-right iconrightpadding"></i>Billing
                                        </a>
                                    </li>
                                    <li class="libottom">
                                        <a class="textsetings" href="">
                                            <i class="simple-icon-arrow-right iconrightpadding"></i>Clinical
                                        </a>
                                    </li>
                                    <li class="libottom">
                                        <a class="textsetings" href="">
                                            <i class="simple-icon-arrow-right iconrightpadding"></i>Control Panel
                                        </a>
                                    </li>
                                    <li class="libottom">
                                        <a class="textsetings" href="">
                                            <i class="simple-icon-arrow-right iconrightpadding"></i>General
                                        </a>
                                    </li>
                                    <li class="libottom">
                                        <a class="textsetings" href="">
                                            <i class="simple-icon-arrow-right iconrightpadding"></i>Malaffi
                                        </a>
                                    </li>
                                    <li class="libottom">
                                        <a class="textsetings" href="">
                                            <i class="simple-icon-arrow-right iconrightpadding"></i>Order And Results
                                        </a>
                                    </li>
                                    <li class="libottom">
                                        <a class="textsetings" href="">
                                            <i class="simple-icon-arrow-right iconrightpadding"></i>Registration
                                        </a>
                                    </li>
                                    <li class="libottom">
                                        <a class="textsetings" href="">
                                            <i class="simple-icon-arrow-right iconrightpadding"></i>Reports
                                        </a>
                                    </li>
                                    <li class="libottom">
                                        <a class="textsetings" href="">
                                            <i class="simple-icon-arrow-right iconrightpadding"></i>Scanning
                                        </a>
                                    </li>
                                    <li class="libottom">
                                        <a class="textsetings" href="">
                                            <i class="simple-icon-arrow-right iconrightpadding"></i>Scheduling
                                        </a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="card mb-4 backgroundclr">
                            <div class="card-body">
                                <h4>Visible Form Names</h4>
                                <div class="separator mb-5"></div>

                                <form>
                                    <div class="col-12">
                                        <div class="custom-control custom-checkbox mb-4 checkboxleftpadding">
                                          <input type="checkbox" checked class="custom-control-input" id="advancepayment">
                                          <label class="custom-control-label" for="advancepayment">
                                            Advance Payment
                                            </label>
                                        </div>
                                      </div>
                                      <div class="col-12">
                                        <div class="custom-control custom-checkbox mb-4 checkboxleftpadding">
                                          <input type="checkbox" class="custom-control-input" id="billgenerator">
                                          <label class="custom-control-label" for="billgenerator">
                                            Bill Generator
                                            </label>
                                        </div>
                                      </div>
                                      <div class="col-12">
                                        <div class="custom-control custom-checkbox mb-4 checkboxleftpadding">
                                          <input type="checkbox" checked class="custom-control-input" id="billinvoice">
                                          <label class="custom-control-label" for="billinvoice">
                                            Bill Invoice
                                            </label>
                                        </div>
                                      </div>
                                      <div class="col-12">
                                        <div class="custom-control custom-checkbox mb-4 checkboxleftpadding">
                                          <input type="checkbox" class="custom-control-input" id="billgeneratorlist">
                                          <label class="custom-control-label" for="billgeneratorlist">
                                            Bill Invoice List
                                            </label>
                                        </div>
                                      </div>
                                      <div class="col-12">
                                        <div class="custom-control custom-checkbox mb-4 checkboxleftpadding">
                                          <input type="checkbox" checked class="custom-control-input" id="billingreports">
                                          <label class="custom-control-label" for="billingreports">
                                            Billing Reports
                                            </label>
                                        </div>
                                      </div>
                                      <div class="col-12">
                                        <div class="custom-control custom-checkbox mb-4 checkboxleftpadding">
                                          <input type="checkbox" checked class="custom-control-input" id="visitsummary">
                                          <label class="custom-control-label" for="visitsummary">
                                            Visit Summary
                                            </label>
                                        </div>
                                      </div>
                                </form>

                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="card mb-4 backgroundclr">
                            <div class="card-body">
                                <h4>Privileges  </h4>
                                <div class="separator mb-5"></div>

                                <form>
                                    <div class="col-12">
                                        <div class="custom-control custom-checkbox mb-4 checkboxleftpadding">
                                          <input type="checkbox" checked class="custom-control-input" id="add">
                                          <label class="custom-control-label" for="add">
                                            Add
                                            </label>
                                        </div>
                                      </div>
                                      <div class="col-12">
                                        <div class="custom-control custom-checkbox mb-4 checkboxleftpadding">
                                          <input type="checkbox" class="custom-control-input" id="delete">
                                          <label class="custom-control-label" for="delete">
                                           Delete
                                            </label>
                                        </div>
                                      </div>
                                      <div class="col-12">
                                        <div class="custom-control custom-checkbox mb-4 checkboxleftpadding">
                                          <input type="checkbox" checked class="custom-control-input" id="edit">
                                          <label class="custom-control-label" for="edit">
                                            Edit
                                            </label>
                                        </div>
                                      </div>
                                      <div class="col-12">
                                        <div class="custom-control custom-checkbox mb-4 checkboxleftpadding">
                                          <input type="checkbox" class="custom-control-input" id="editpayer">
                                          <label class="custom-control-label" for="editpayer">
                                            Edit Payer
                                            </label>
                                        </div>
                                      </div>
                                      <div class="col-12">
                                        <div class="custom-control custom-checkbox mb-4 checkboxleftpadding">
                                          <input type="checkbox" checked class="custom-control-input" id="print">
                                          <label class="custom-control-label" for="print">
                                            Print
                                            </label>
                                        </div>
                                      </div>
                                      <div class="col-12">
                                        <div class="custom-control custom-checkbox mb-4 checkboxleftpadding">
                                          <input type="checkbox" checked class="custom-control-input" id="view">
                                          <label class="custom-control-label" for="view">
                                            View
                                            </label>
                                        </div>
                                      </div>
                                </form>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

