
<div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-body">
          <h1 class="facilityheading text-center">State</h1>
        
          <form>
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label class="inputlabelclr" for="Name">Name</label>
                  <input type="text" id="Name" aria-describedby="Name" class="form-control" placeholder="Name">
                </div>
              </div>
            
              <div class="col-6">
                <div class="form-group">
                  <label class="inputlabelclr" for="Code">Haad City Code</label>
                  <input type="text" id="Code" aria-describedby="Code" class="form-control" placeholder="Code">
                </div>
              </div>
        
              <div class="col-12">
                <div class="form-group">
                  <label class="inputlabelclr" for="Description">Description</label>
                  <textarea type="text" id="Description" aria-describedby="Description" rows="5" class="form-control" placeholder="Description"></textarea>
                </div>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary float-right">ADD</button>
                <a type="btn" routerLink="/app/ControlPanel/Miscellaneous/CountryStateCity/State" class="btn btn-primary float-right mr-2">Cancel</a>

              </div>
  
            </div>
          </form>
  
        </div>
      </div>
    </div>
  </div>
