.facilityheading{
    color: black;
    text-align: center !important;
    display: block !important;
    padding-right: 35px;
}
.inputlabelclr{
    color: black;
}
.inputlabelclrtd{
    color: white !important;
}
.onhoveredit:hover{
background-color: white;
color: #38688b ;
}