

  
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-body">
          <h1 class="facilityheading text-center">States</h1>
          <div class="col-12">
            <a type="btn" routerLink="/app/ControlPanel/Miscellaneous/CountryStateCity/StateForm" class="btn btn-primary float-right mb-2">New</a>

         </div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="inputlabelclr" scope="col">Name</th>
                <th class="inputlabelclr" scope="col">Description</th>
                <th class="inputlabelclr" scope="col">Haad City Code</th>
                <th class="inputlabelclr" scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="inputlabelclrtd" scope="row">Name</th>
                <td class="inputlabelclrtd">Description</td>
                <td class="inputlabelclrtd">Haad City Code</td>
                <td>
                  <button type="submit" class="btn btn-primary onhoveredit">Edit</button>
                </td>
              </tr>
            </tbody>
          </table>
  
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>