.lbltext{
    font-size: 15px;
    font-weight: 600;
}
.textclr{
    color: #1e2022 !important;
}
.demoheading{
    text-align: center;
}
.labelmrsearch{
    font-weight: 800;
    font-size: 15px;
}

.facilityheading{
    color: black;
    text-align: center !important;
    display: block !important;
    padding-right: 35px;
}
.inputlabelclr{
    color: black;
}
.inputlabelclrtd{
    color: white !important;
}
.onhoveredit:hover{
background-color: white;
color: #38688b ;
}
.checkboxleftpadding{
    padding-left: 25px;
}
.vipcheckbox{
    padding-right: 210px;
}
.imgepaddingright{
    padding-right: 133px;
}
.checkboxalign{
    text-align: left !important;
}
.imgtop{
    margin-top: 30px;
    padding-right: 30px;
}
.textclr{
    font-size: 16px;
}
.moreinforow{
    padding-top: 50px;
}
.morerow{
    padding-top: 25px;
    border: 1px solid #38688b;
    border-radius: 10px;
    margin-top: 20px;
}
.proofincomeinput{
    margin-top: 10px;

}
.morerow1{
    border: 1px solid #38688b;
    border-radius: 10px;
}
.consentpadding{
    margin-bottom: 40px;
}
.radiobottom{
    margin-bottom: 59px !important;
}


.facilityheading{
    color: black;
    text-align: center !important;
    display: block !important;
    padding-right: 35px;
}
.inputlabelclr{
    color: black;
}
.inputlabelclrtd{
    color: white !important;
}
.onhoveredit:hover{
background-color: white;
color: #38688b ;
}
.checkboxleftpadding{
    padding-left: 25px;
}

.widthselectr{
    width: 200px;
}
.bottombtns{
    margin-top: 27px;
}
.contactmoretabs{
    margin-top: 20px;
    border: 1px solid #38688b;
    border-radius: 10px;
    padding: 16px;
}
.backgroundclr{
    background-color: #efefef;
}
.headerclr{
    background-color: #1e2022;
}
.inputlabelclr12{
    font-size: 12px !important;
    color: white !important;
}
.inputlabelclrtd13{
    color: black !important;
    font-size: 12px !important;
}