.textsetings{
    color: black;
}
.textsetings:hover{
    color: #1465a1;
}
.libottom{
    margin-bottom: 15px;
}
.iconrightpadding{
    padding-right: 6px;
}
.rolenamepadding{
    padding-top: 9px;
}
.custom-checkbox{
   margin-bottom: 2px !important;
}
.backgroundclr{
    background: #efefef;
}