


  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-body">
          <h1 class="facilityheading">Locations</h1>
          <div class="col-12">
            <a type="btn" routerLink="/app/Control Panel/Provider/Locations/LocationForm" class="btn btn-primary onhoveredit mb-2 float-right">New</a>
          </div>
          <div class="card-header">
            <div class="row rowpaddingtop">
              <div class="col-2 ">
                LocationTypes- (Total:{{this.ps.totalitemsCount}})
              </div>
    
              <div class="col-4 add-row add-row-rel top-paging">
                <span class="cpp">LocationTypes per page:</span>
                <a (click)="setRecPerPage(this.ps.small)" [ngClass]="this.ps.smallPageRow? 'active':'mr-2'">{{this.ps.small}}</a>
                <a (click)="setRecPerPage(this.ps.medium)" [ngClass]="this.ps.mediumPageRow? 'active':'mr-2'">{{this.ps.medium}}</a>
                <a (click)="setRecPerPage(this.ps.large)" [ngClass]="this.ps.largePageRow? 'active':'mr-2'">{{this.ps.large}}</a>
              </div>
            </div>
    
          </div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="inputlabelclr" scope="col">Site Name</th>
                <th class="inputlabelclr" scope="col">Location Name</th>
                <th class="inputlabelclr" scope="col">Location Type</th>
                <th class="inputlabelclr" scope="col">Active</th>
                <th class="inputlabelclr" scope="col">Description</th>
                <th class="inputlabelclr" scope="col">Facility name</th>
                <th class="inputlabelclr" scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of Locations">
                <td class="inputlabelclrtd" scope="row">{{item.siteName}}</td>
                <td class="inputlabelclrtd">{{item.name}}</td>
                <td class="inputlabelclrtd">{{item.locationType}}</td>
                <div *ngIf="item.active==true">
                  <td class="inputlabelclr" scope="col">Yes</td>
                </div>
                <div *ngIf="item.active==false">
                  <td class="inputlabelclr" scope="col">No</td>
                </div>
                <td class="inputlabelclrtd">{{item.description}}</td>
                <td class="inputlabelclrtd">{{item.facilityName}}</td>
                <td>
                  <button type="submit" class="btn btn-primary onhoveredit">Edit</button>
                </td>
              </tr>
              <div class="row">
                <div class="col-3">&nbsp;</div>
                <div class="col-12">
                  <ul class="pagination">
                    <li class="page-item">
                      <a (click)="showPrevLocations()" class="prevbtnsetings"
                        [ngClass]="(this.ps.showNoOfCurrentPage ==1)?'notAllowed':'page-link'">Prev
                      </a>
                    </li>
                    <li *ngFor="let page of this.ps.pageField;let i=index" class="page-item">
                      <a class="activebtn" (click)="showLocationsByPageNumber(page,i)" [ngClass]="this.ps.pageNumber[i] ? 'pageColor':'page-link'">{{page}}
                      </a>
                      &nbsp;
                    </li>
                    <li class="page-item"><a (click)="showNextLocations()" class="nextbtnsetings"
                        [ngClass]="(this.ps.disabledNextBtn)?'notAllowed':'page-link'">Next
                      </a>
                    </li>
                  </ul>
                  
                </div>
                <div class="col-12">
                  <div style="text-align: center;">
                    Page {{this.ps.currentPage}} of Total page {{this.ps.exactPageList}}
                  </div>
                </div>
    
              </div>
            </tbody>
          </table>
  
        </div>
      </div>
    </div>
  </div>


  <router-outlet></router-outlet>